---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: nginx
  namespace: flux-system
spec:
  interval: 30s
  path: ./app/stag
  prune: true
  sourceRef:
    kind: GitRepository
    name: nginx

